<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>812732464823-3i85rtraqrbejmtd7noltj611i9k0glj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812732464823-3i85rtraqrbejmtd7noltj611i9k0glj</string>
	<key>API_KEY</key>
	<string>AIzaSyB654dpoeZPKy9-0qUVO9SBRXhuIrYpVbA</string>
	<key>GCM_SENDER_ID</key>
	<string>812732464823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.filterize.console</string>
	<key>PROJECT_ID</key>
	<string>filterize-eu</string>
	<key>STORAGE_BUCKET</key>
	<string>filterize-eu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:812732464823:ios:8d546e23ea21e257</string>
	<key>DATABASE_URL</key>
	<string>https://filterize-eu.firebaseio.com</string>
</dict>
</plist>